p{
    font-size:larger;
    font-weight:bold;
}
a{
    font-size:large;
    font-style:oblique;
    color:#ff00ff;
    margin-left:20px;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.origami{
    border-radius: 20px;
    background-color:#ffffff;
    width:310px;
    font-family: fantasy;
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: 40px;
    font-family: fantasy;
    font-weight: 400;
    color: #ffffff;
    padding: 10px;
}
body{
    background-color: #ffffff;
    margin: 20px;
}
.header{
    padding: 25px;
}